*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#my-id{
    height: 50px;
    padding: 10px;
    background-color: lightcoral;
    color: white;
    margin: 0 auto;
    text-align: center;
}